*{
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    display:flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: relative;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
.navbar ul li a:hover{
    color: #ff7200;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 630px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('meo.jpg')no-repeat center center/cover;
    height: 680px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.heading {
    color: orangered;
    font-size: 3rem;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    transform: scale(1,1.3);
}
.heading h1{
    color: #fff;
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: #000;
}
#portfolio h1{
    margin: 60px;
}
.gallery{
     display: flex;
}
.gallery img{
    width: 313px; 
    height: 640px;
    padding: 10px;
    background-color: #ff7200;
    flex-wrap: wrap;
}
.gallery img:hover{
    background-color: #7ffd47;
    cursor: pointer;
}

/* Education Section */
#education{
    display: flex;
    flex-direction: column;
    background: #9c7777dc;

}
#education h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto
}
.box{
    height: 190px;
    width: 500px;
    background-color: rbga(225, 225, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    outline-style: double;
}
.box h2{
    color: #fff;
    font-size:  2rem;
    margin-bottom: 40px;

}
.box p{
    color: #fff;
    font-size: 1.1rem;
    
}
/*about Section*/
#about{
    display: flex;
    flex-direction: column;
    height:  480px;
    background: #f2bcbcdc;

}
#about h1{
    color: #ff7200;
    margin: 55px;
}
.about{
    display: flex;
}
.about img{
    width: 500px;
    height: 450px;
    padding: 0px 30px;
}
.name{
    padding: 10px;
    outline-style: double;
}
.name h2{
    font-size: 2rem;
    outline-style: double;
}
.name p{
    font-size: 1.2rem
    
}
/* Cont */
#contact{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#contact h1{
    margin: 59px;
}
.form p{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.input{
    padding: 15px 2px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}

#message{
    height: 30px;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}
#submit{
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 20px;
    background-color: rgb(144, 133, 133);
    border: none;
    outline: 1pc;
    outline-style: double;
}
#submit ul{
    display: flex;
    list-style: none;
}
#submit ul li{
    font-size: 1.1rem;
}
#submit ul li a{
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

 #submit:hover{
    background-color: #ff7200;
    color: white;
    cursor: pointer;
 }


